# i3 config file (v4)
# Please see http://i3wm.org/docs/userguide.html for a complete reference!

# mod key & alt key
set $mod Mod4
set $alt Mod1

# color palette
set $base00 #101218
set $base01 #1f222d
set $base02 #252936
set $base03 #7780a1
set $base04 #C0C5CE
set $base05 #d1d4e0
set $base06 #C9CCDB
set $base07 #ffffff
set $base08 #ee829f
set $base09 #f99170
set $base0A #ffefcc
set $base0B #a5ffe1
set $base0C #97e0ff
set $base0D #97bbf7
set $base0E #c0b7f9
set $base0F #fcc09e

# workspace
set $workspace1 "1: "
set $workspace2 "2: "
set $workspace3 "3: "
set $workspace4 "4: "
set $workspace5 "5: "
set $workspace6 "6: "
set $workspace7 "7: "

# font
font pango:Inconsolata\-g for Powerline 10

# border style
new_window pixel 1
new_float normal

# drag floating windows
floating_modifier $mod

# start a terminal
bindsym $mod+space exec terminal

# kill focused window
bindsym $alt+F4 kill

# start program launcher (dmenu)
bindsym $mod+d exec dmenu_run -i -l 5 -p "Run >"

# launch system settings
bindsym $mod+Shift+F1 exec terminal -e 'bmenu'

# start applications
bindsym $mod+F1 exec --no-startup-id morc_menu
bindsym $mod+F2 exec pcmanfm
bindsym $mod+Shift+F2 exec gksu pcmanfm
bindsym $mod+F3 exec google-chrome-unstable
bindsym $mod+F4 exec terminal -e 'mocp'

# sound-section
exec --no-startup-id volumeicon
bindsym $mod+Ctrl+m exec terminal -e 'alsamixer'

##########  DO NOT REMOVE  #############
# exec --no-startup-id pulseaudio      #
# exec --no-startup-id pa-applet       #
# bindsym $mod+Ctrl+m exec pavucontrol #
########################################

# screen brightness controls
bindsym XF86MonBrightnessUp exec "xbacklight -inc 10"
bindsym XF86MonBrightnessDown exec "xbacklight -dec 10"

# volume controls
bindsym XF86AudioRaiseVolume exec "amixer -q sset Master,0 5+ unmute"
bindsym XF86AudioLowerVolume exec "amixer -q sset Master,0 5- unmute"
bindsym XF86AudioMute exec "amixer -q sset Master,0 toggle"

# miscellaneous controls
bindsym Print exec --no-startup-id i3-scrot
bindsym $mod+Shift+h exec xdg-open /usr/share/doc/manjaro/i3_help.pdf
bindsym $mod+Ctrl+x --release exec --no-startup-id xkill
bindsym $mod+Shift+d --release exec "killall dunst; exec notify-send 'restart dunst'"

focus_follows_mouse yes

# change focus
bindsym $mod+j focus left
bindsym $mod+k focus down
bindsym $mod+l  focus up
bindsym $mod+semicolon focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+j move left
bindsym $mod+Shift+k move down
bindsym $mod+Shift+l move up
bindsym $mod+Shift+semicolon move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# switching between workspaces
workspace_auto_back_and_forth yes
bindsym $alt+Tab workspace back_and_forth

# split orientation
bindsym $mod+h split h;exec notify-send 'tile horizontally'
bindsym $mod+v split v;exec notify-send 'tile vertically'
bindsym $mod+q split toggle

# toggle fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Home floating toggle

# change focus between tiling / floating windows
bindsym $mod+Return focus mode_toggle

# toggle sticky
bindsym $mod+Shift+s sticky toggle

# navigate workspaces next / previous
bindsym $mod+$alt+Right workspace next
bindsym $mod+$alt+Left workspace prev

# switch to workspace
bindsym $mod+1 workspace $workspace1
bindsym $mod+2 workspace $workspace2
bindsym $mod+3 workspace $workspace3
bindsym $mod+4 workspace $workspace4
bindsym $mod+5 workspace $workspace5
bindsym $mod+6 workspace $workspace6
bindsym $mod+7 workspace $workspace7

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $workspace1
bindsym $mod+Shift+2 move container to workspace $workspace2
bindsym $mod+Shift+3 move container to workspace $workspace3
bindsym $mod+Shift+4 move container to workspace $workspace4
bindsym $mod+Shift+5 move container to workspace $workspace5
bindsym $mod+Shift+6 move container to workspace $workspace6
bindsym $mod+Shift+7 move container to workspace $workspace7

# open applications on specific workspaces
assign [class="URxvt"] $workspace1
assign [class="Google-chrome-unstable"] $workspace2
assign [class="Atom"] $workspace3
assign [class="processing-app-Base"] $workspace3
assign [class="Transmission-gtk"] $workspace7
# todo: add more applications and assign them

# open specific applications in floating mode
for_window [class="URxvt"] floating enable border pixel
for_window [class="Pcmanfm"] floating enable border pixel
for_window [title="alsamixer"] floating enable border pixel 1
for_window [class="Calamares"] floating enable border normal
for_window [class="Clipgrab"] floating enable
for_window [title="File Transfer*"] floating enable
for_window [class="Galculator"] floating enable border pixel 1
for_window [class="GParted"] floating enable border normal
for_window [title="i3_help"] floating enable sticky enable border normal
for_window [class="Lightdm-gtk-greeter-settings"] floating enable
for_window [class="Lxappearance"] floating enable sticky enable border normal
for_window [class="Manjaro-hello"] floating enable
for_window [class="Manjaro Settings Manager"] floating enable border normal
for_window [class="Nitrogen"] floating enable sticky enable border normal
for_window [class="Pamac-manager"] floating enable
for_window [class="qt5ct"] floating enable sticky enable border normal
for_window [class="Qtconfig-qt4"] floating enable sticky enable border normal
for_window [class="Simple-scan"] floating enable border normal
for_window [class="(?i)System-config-printer.py"] floating enable border normal
for_window [class="Timeset-gui"] floating enable border normal
for_window [class="Xfburn"] floating enable
for_window [class="Transmission-gtk"] floating enable border pixel

# switch to workspace with urgent window automatically
for_window [urgent=latest] focus

# reload the configuration file
bindsym $mod+Shift+c reload

# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart

# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-ms$

# set shut down, restart and locking features
bindsym $mod+Escape mode "$mode_system"
set $mode_system (l)ock, (e)xit, switch_(u)ser, (s)uspend, (h)ibernate, (r)eboot, (Shift+s)hutdown
mode "$mode_system" {
    bindsym l exec --no-startup-id i3exit lock, mode "default"
    bindsym s exec --no-startup-id i3exit suspend, mode "default"
    bindsym u exec --no-startup-id i3exit switch_user, mode "default"
    bindsym e exec --no-startup-id i3exit logout, mode "default"
    bindsym h exec --no-startup-id i3exit hibernate, mode "default"
    bindsym r exec --no-startup-id i3exit reboot, mode "default"
    bindsym Shift+s exec --no-startup-id i3exit shutdown, mode "default"

    # exit system mode: "Enter" or "Escape"
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

# resize window (you can also use the mouse for that)
bindsym $mod+r mode "resize"
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode
        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym j resize shrink width 5 px or 5 ppt
        bindsym k resize grow height 5 px or 5 ppt
        bindsym l resize shrink height 5 px or 5 ppt
        bindsym semicolon resize grow width 5 px or 5 ppt

        # same bindings, but for the arrow keys
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt

        # exit resize mode: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

# lock screen
bindsym $mod+0 exec --no-startup-id blurlock

# autostart applications
exec --no-startup-id /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
exec --no-startup-id nitrogen --restore; sleep 1; compton -b
exec --no-startup-id manjaro-hello
exec --no-startup-id nm-applet
exec --no-startup-id xfce4-power-manager
exec --no-startup-id pamac-tray
exec --no-startup-id start_conky_maia
exec --no-startup-id xautolock -time 10 -locker blurlock

exec_always --no-startup-id fix_xcursor
exec_always compton -f

# Start i3bar to display a workspace bar (plus the system information i3status if available)
bar {
  position top
        status_command i3status -c

        bindsym button4 nop
        bindsym button5 nop
        strip_workspace_numbers yes

  colors {
    separator  $base03
    background $base01
    statusline $base05
    #                  border  background text
    focused_workspace  $base01 $base01    $base07
    active_workspace   $base01 $base02    $base03
    inactive_workspace $base01 $base01    $base03
    urgent_workspace   $base01 $base01    $base08
  }
}

# hide/unhide i3status bar
bindsym $mod+m bar mode toggle

#client.placeholder      #000000 #0c0c0c #ffffff #000000 #0c0c0c
#client.background       #2B2C2B

# window colors
#                       border  background text    indicator
client.focused          $base01 $base01    $base07 $base0F
client.focused_inactive $base02 $base02    $base03 $base0F
client.unfocused        $base02 $base02    $base03 $base0F
client.urgent           $base02 $base08    $base00 $base0F


